body {
    /*background-color: #6C7A89;*/
    background-color: rgba(0, 0, 0, 0.774);
    font: normal 14pt arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}
#primeiro {
    padding-bottom: 20px;
}
#terceiro {
    padding-bottom: 30px;
}
.but {
    background-color: chocolate;
    color: white;
    border-radius: 3px;
}

footer {
    text-align: center;
    color: white;
}

#alt {
    width: 140px;
}

#pes {
    width: 140px;
}

@media(max-width: 300px) {
    section {
        margin-left: 20px;
        margin-right: 20px;
    }
}
